<div >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
    <div class="fix-menusection">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 f-right">
        <ul class="nav nav-tabs custom-menulist-right">
        <li class="left disabled"><a
            data-target="#"> Historique </a></li>
        <li class="disabled"><a data-target="#">
                TVV </a></li>
        <li class="active"><a data-toggle="pill" data-target="#prep">Preparation</a></li>
        <li class="disabled"><a data-target="#">
                Conditions dessai </a></li>
        <li class="disabled"><a data-target="#">
                Conditionnement </a></li>
        <li class="disabled"><a data-target="#">
                Resultats tirs </a></li>
        <li class="disabled"><a data-target="#expertise"> Expertise
        </a></li>
        <li class="disabled right"><a data-target="#">
                Impression </a></li>
        </ul>
    </div>
    </div> <!-- end fix-menusection -->
    <div class="tab-content  padd-top col-lg-12 col-sm-12 col-xs-12">
        <div id="history" class="tab-pane fade">
        
        
        </div>

        <div id="prep" class="tab-pane fade active in">

        <data-ng-include src="'offline-preparation-list.html'" />
        
        </div>

        <div id="resultSet" class="tab-pane fade">

        </div>
        
        <div id="expertise" class="tab-pane fade">
        Expertise
        </div>
    </div>
</div>
