<div class="row">
<div class="col-lg-12 custom-top-btm-padding">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
<label title=" ">CO2</label>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
<label title=" ">HC</label>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
<label title=" ">CO</label>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
<label title=" ">Lambda</label>
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
<label title=" ">Ralenti</label>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-status-color">
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
<input class="form-control" type="text" data-ng-model="checkList.preparationResultList[0].value" title=" " />
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
<span class="fa fa-2x" data-ng-class="{'fa-asterisk':checkList.preparationResultList[0].value.length == '0' || checkList.preparationResultList[0].value == null,'fa-check-circle':checkList.preparationResultList[0].value.length >= '1'}"></span>
</div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-status-color">
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
<input class="form-control" type="text" data-ng-model="checkList.preparationResultList[1].value" title=" "/>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
<span class="fa fa-2x" data-ng-class="{'fa-asterisk':checkList.preparationResultList[1].value.length == '0' || checkList.preparationResultList[1].value == null,'fa-check-circle':checkList.preparationResultList[1].value.length >= '1'}"></span>
</div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-status-color">
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
<input class="form-control" type="text" data-ng-model="checkList.preparationResultList[2].value" title=" " />
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
<span class="fa fa-2x" data-ng-class="{'fa-asterisk':checkList.preparationResultList[2].value.length == '0' || checkList.preparationResultList[2].value == null,'fa-check-circle':checkList.preparationResultList[2].value.length >= '1'}"></span>
</div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-status-color">
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
<input class="form-control" type="text" data-ng-model="checkList.preparationResultList[3].value" data-ng-change="changeCO(checkList)"  title=" " />
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
<span class="fa fa-2x" data-ng-class="{'fa-asterisk':checkList.preparationResultList[3].value.length == '0' || checkList.preparationResultList[3].value == null,'fa-check-circle':checkList.preparationResultList[3].value.length >= '1'}"></span>
</div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

</div>
</div>
</div>

<!-- Ralenti acc -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-top-btm-padding">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
<label title="Ralenti acc" >Ralenti acc</label>
<span class="astrik">*</span>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-status-color">
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
<input class="form-control" type="text" data-ng-model="checkList.preparationResultList[4].value" title="{{checkList.preparationResultList[4].value}} "/>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
<span class="fa fa-2x" data-ng-class="{'fa-asterisk':checkList.preparationResultList[4].value.length == '0' || checkList.preparationResultList[4].value == null,'fa-check-circle':checkList.preparationResultList[4].value.length >= '1'}"></span>
</div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-status-color">
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
<input class="form-control" type="text" data-ng-model="checkList.preparationResultList[5].value" title="{{checkList.preparationResultList[5].value}} "/>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
<span class="fa fa-2x" data-ng-class="{'fa-asterisk':checkList.preparationResultList[5].value.length == '0' || checkList.preparationResultList[5].value == null,'fa-check-circle':checkList.preparationResultList[5].value.length >= '1'}"></span>
</div>
</div>

<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 custom-status-color">
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding">
<input class="form-control" type="text" data-ng-model="checkList.preparationResultList[6].value" data-ng-change="changeLamda(checkList)" title="{{checkList.preparationResultList[6].value}} "/>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
<span class="fa fa-2x" data-ng-class="{'fa-asterisk':checkList.preparationResultList[6].value.length == '0' || checkList.preparationResultList[6].value == null,'fa-check-circle':checkList.preparationResultList[6].value.length >= '1'}"></span>
</div>
</div>
</div>

<!-- Decision Lambda -->

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
<label title="Decision Co">Decision Co</label>
<input class="form-control" type="text" data-ng-model="checkList.preparationResultList[7].value" title="checkList.preparationResultList[7].value" readonly/>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
<label title="Decision Lambda">Decision Lambda</label>
<input class="form-control" type="text" data-ng-model="checkList.preparationResultList[8].value" title="{{checkList.preparationResultList[8].value}} " readonly/>
</div>
</div>
</div>

<div class="slide-resize col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-10 col-md-10 col-sm-10 col-xs-10 no-padding custom-footer">
<label class="screenNo" title="Screen Number :SCR053 ">Screen Number :SCR053</label>
<div class="padding-top-btm">
<button class="btn btn-primary" data-ng-click="saveGasoline(checkList)">Valider</button>
<a href="#!/cop/SearchVehicle"><button class="btn btn-default" >Annular</button></a>
</div>
</div>