<!-- 
COPYRIGHT PSA Peugeot Citroen 2014
**********************************************************************************************************
FILE NAME	 	: B2BHeader.html
SOCIETE      	: PSA
PROJET       	: EDS B2B Evolutions
VERSION      	: V1.0
DATE         	: 02/04/2014
AUTEUR          : GEOMETRIC LTD.

DESCRIPTION     : This file acts as a source for displaying Custom Layout of Vaadin in B2BHeader.java

**********************************************************************************************************
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<body bgcolor="#FFFFFF" text="#000000">
    <form name="form1" method="post" action="">

        <table width="100%" cellspacing="0">
            <tr>
                <td height="96" width="100%">

                    <table bgcolor="white" width="100%" border="0" cellspacing="0" cellpadding="0" style="height: 102px;">
                        <tr style="height: 44px;">
                            <td style="width: 25%;" valign="middle"><div location="PSALOGO" width="232" height="37"></div></td>
                            <td style="width: 6px;"><img src="shim.gif" width="6" height="44"></td>
                            <td style="width: 50%; padding-top: 3px;"><img src="shim.gif" width="32" height="44"></td>
                            <td style="width: 50%; padding-top: 3px;"><img src="shim.gif" width="32" height="44"></td>
                            <td rowspan="4" style="height: 102px; vertical-align: top; padding-top: 3px;">
                                <table border="0" cellspacing="0" cellpadding="0" style="border: 0px solid #F80;">
                                    <tr>
                                        <td width="357" colspan="3"><img src="logo_droite_haut.gif" style="border: 0px solid #08F;"></td>
                                    </tr>
                                    <tr style="height: 20px;">
                                        <td bgcolor="#B7C6DD" style="width: 80px; border: 0px solid #4F0;"><div location="B2BPORTAL"></div></td>
                                        <td colspan="2"
                                            style="background-image: url(bleu_blanc.gif); width: 252px; vertical-align: top; text-align: left; border: 0px solid blue;"
                                            class="textecontenugras"><div location="SEARCH"></div></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="background-color: #B7C6DD; height: 6px;">
                            <td colspan="4" width="100%">
                                <table border="0" cellspacing="0" cellpadding="0" style="border: 0px solid #F80;">
                                    <tr>
                                        <td width="29%" style="background-color: #FFF;"><img src="shim.gif" height="6"></td>
                                        <td width="6" align="left"><img src="angle.gif" width="6" height="6"></td>
                                        <td colspan="2" width="100%" bgcolor="#B7C6DD"><img src="shim.gif" width="32" height="6"></td>
                                    </tr>
                                </table>
                            <td>
                        </tr>
                        <tr style="height: 25px;">
                            <td bgcolor="#B7C6DD" colspan="4" width="100%">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td bgcolor="#B7C6DD" class="liens" nowrap width="20%" height="6" align="center"><div location="HELP"></div></td>
                                        <td bgcolor="#B7C6DD" class="liens" width="20%" height="6" align="center"><div location="CONTACT"></div></td>
                                        <td bgcolor="#B7C6DD" class="liens" width="20%" height="6" align="center"><div location="HOME"></div></td>
                                        <td bgcolor="#B7C6DD" class="liens" width="20%" height="6" align="center"><div location="FORMATION"></div></td>
                                        <td bgcolor="#B7C6DD" class="liens" width="20%" height="6" align="center"><div location="LOG OUT"></div></td>
                                        <td bgcolor="#B7C6DD" class="liens" nowrap width="20%" height="6" align="center"
                                            style="vertical-align: middle;"><div location="USER"
                                                style="border: 2px solid thin; border-color: white;"></div></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="height: 27px;">
                            <td><div location="DATASHEET"
                                    style="valign: top; padding-left: 34px; padding-top: 5px; font-family: arial; font-size: 15px; font-weight: bold; color: orange;"></div></td>
                            <td width="6"></td>
                            <td width="100%"><img src="shim.gif" width="32" height="6"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </form>
</body>
</html>
