<?xml version="1.0"?>
<configuration>
    <include resource="org/seedstack/seed/core/logging/logback-defaults.xml"/>
     <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />

<appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>
             c:/temp/log//GenomeWeb-${bySecond}.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

    </appender>
     <root level="INFO">
        <!-- Switch to STDOUT if color output is not supported -->
        <appender-ref ref="STDOUT-COLOR" />
            <appender-ref ref="FILE" />

    </root>
</configuration>
