 <div>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        

        <div class="collapse in" id="top-level-menu" aria-expanded="true">
            <div id="subMenu">

                <div class="list-group panel" style="margin-bottom: 0px">
                    <a id="home" href="#/" class="list-group-item"><span
                        class="glyphicon glyphicon-home menu-icon"></span>Basket</a>
                </div>


            </div>
        </div>


    </div>
<!-- /#sidebar-wrapper -->
    
</div>



