


	<div data-ng-repeat="list in technicalDatalists">
		<div class="col-lg-6 top-btm-padding" id="list-{{$index}}">
			<fieldset class="custom-border">
				<legend class="custom-border">{{"Liste " +list.label +"
					V"+list.version}}</legend>

				<div class="custom-cross">
					<span class="fa fa-remove fa-2x" style="cursor: pointer;" data-ng-show = "authorization('POCMRole')"
						data-ng-click="showDeleteListModal(list,list.label,$index)"></span>
				</div>

				<div class="list-inner">
					<div class="col-lg-12">
						<div class="col-lg-5">
							<label>{{'cop.technicalData.text.label'|localize}}</label> <input
								class="form-control" type="text" data-ng-model="list.label"
								data-ng-disabled="list.entityId!==undefined"
								data-ng-maxlength="255" maxlength="255" />
						</div>
						<div class="col-lg-6">
							<label>{{'cop.technicalData.text.Description'|localize}}</label>
							<textarea class="form-control" ng-disabled="!authorization('POCMRole')" data-ng-model="list.description"
								data-ng-change="setModifiedFlag(list)" data-ng-maxlength="255"
								maxlength="255"></textarea>
						</div>
					</div>

					<div data-ng-repeat="dataItem in list.genericTechnicalData"
						data-ng-show="dataItem.isDeleted!=='TRUE'">


						<div class="col-lg-12 custom-phase-pad" id="dataItem-{{$index}}">
                            <div ng-show="!authorization('POCMRole')">
                       <span><div class="col-lg-9 editable-text" style="max-height: 25px; overflow: hidden;text-overflow: ellipsis;">{{dataItem.label}}</div></span>
                      </div>
							<editlabeles  ng-show="authorization('POCMRole')" model="dataItem.label"  ng-show="authorization('POCMRole')"
								data-ng-click="setModifiedFlag(list)"></editlabeles>
						<span class="fa fa-remove" data-ng-show="authorization('POCMRole')" data-ng-click="showDeleteItemModal(list,dataItem.label,$index)"></span>

						<div class="row col-lg-12">
							<div class="col-lg-5 ">
								<label class="control-label">{{ 'cop.technicalData.label.defaultValue'| localize }}</label> <input class="form-control" type="text" ng-disabled="!authorization('POCMRole')"
                                
									data-ng-model="dataItem.defaultValue" data-ng-change="setModifiedFlag(list);datatypeValidation(dataItem)" data-ng-maxlength="255"
									maxlength="255" />
							</div>
							<div class="col-lg-4">
								<label class="control-label">{{ 'cop.technicalData.label.dataType'| localize }}</label>

								<ui-select id="dropdownSelectGTD" data-ng-model="dataItem.dataType" reset-search-input="true"
									  ng-disabled="!authorization('POCMRole')" on-select="setModifiedFlag(list);datatypeValidation(dataItem)"> <ui-select-match placeholder="Select Data Type...">
								{{$select.selected}} </ui-select-match> <ui-select-choices repeat="type in dataTypes | filter: $select.search">
								<div ng-bind-html="type | highlight: $select.search "></div>
								</ui-select-choices> </ui-select>


							</div>
							<div class="col-lg-3">
								<label class="control-label">{{ 'cop.technicalData.label.unit'| localize }}</label> <input class="form-control" type="text"
									 ng-disabled="!authorization('POCMRole')" data-ng-model="dataItem.unit.value" data-ng-change="setModifiedFlag(list)" data-ng-maxlength="255" maxlength="255" />
							</div>

						</div>
					</div>
						</div>
					</div>
				


				<div class="col-lg-12 custom-phase-btn text-right">
					<div class="col-lg-12">

						<button type="button" style="border-radius: 2px;" data-ng-show = "authorization('POCMRole')"
							class="btn btn-success" data-dismiss="modal"
							data-ng-click="showAddModal(list)">
							<span class="fa fa-plus-square-o fa-custom-pad"></span>{{
							'cop.technicalData.label.add' |localize }}


						</button>

					</div>
				</div>

			</fieldset>
			</div>
		</div>




<div class="slide-resize col-lg-12 col-lg-10"
	style="position: fixed;
	/* top: 0px; */ bottom: 0px; background-color: #fff;">

<label class="screenNo">{{'cop.ems.technicalData.label.screenNo' | localize}}</label>
	<div class="col-lg-12 padding-top-btm">

		<div class="col-lg-3"></div>
		<div class="col-lg-6 text-center">
			<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-show = "authorization('POCMRole')"
				data-ng-click="showSaveConfirmation(true)">{{
				'cop.technicalData.label.validate' | localize }}</button>

			&nbsp; &nbsp;

			<button type="button" class="btn btn-default " data-ng-show = "authorization('POCMRole')"
				data-dismiss="modal" data-ng-click="CancelConfirmationESTDL()">{{ 'cop.technicalData.label.cancel' |
				localize }}</button>
		</div>

		<div class="col-lg-3 text-right">
			<div class="padding-top-btm">
				<button type="button" style="border-radius: 8px;"
					class="btn btn-default" data-dismiss="modal"
					  data-ng-click="getAllHistory('EMS_DEPENDENT_TDL')">{{
					'cop.technicalData.label.modificationHistory' |localize }}</button>
			</div>
		</div>
	</div>

</div>
<!-- Confirmation Message On Cancel Button -->
<div id="ConfirmCancelESTDModal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width: 500px;">
		<div class="modal-content" style="border-radius: 0px; width: 500px;">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				<h4 class="modal-title" id="myModalLabel">{{
					'cop.message.cancelUnsavedDataOnConfirmation'| localize }}</h4>
			</div>

			<div class="modal-footer align-center">
				<button type="button" style="border-radius: 0px;"
					class="btn btn-primary" data-dismiss="modal"
					data-ng-click="cancelModifiedESTDChanges()">{{
					'cop.cancelUnsavedData.label.ok' | localize }}</button>
				&nbsp; &nbsp;
				<button type="button" style="border-radius: 0px;"
					class="btn btn-default" data-dismiss="modal">{{
					'cop.cancelUnsavedData.message.cancel' | localize }}</button>
			</div>
		</div>
	</div>
</div>
<!-- End of Confirmation Message On Cancel Button-->

