<div class="tvv-smalltabgroup-wrapp">
	<ul class="nav nav-pills nav-custom f-left custom-tab">
		
		<li data-ng-repeat="List in tvvValuedEsDepPGLList" id="limit{{$index}}"><a data-toggle="pill" href="#limit-{{$index}}">{{List.label}}({{List.editedValues}}/{{List.pollutantGasLimit.length}})</a></li>
	</ul>
</div>

<div class="col-lg-12 tab-content no-padding">


	<div data-ng-repeat="List in tvvValuedEsDepPGLList" id="limit-{{$index}}"
		class="tab-pane fade in">
		<div data-ng-repeat="limit in List.pollutantGasLimit">
				<div
				class="col-lg-5 col-md-5 col-sm-5 col-xs-11 custom-card no-padding"
				style="min-height: 65px; max-height: 65px;">
				<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
				<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 no-padding"><span class="control-label" title="{{limit.pgLabel.label}}" >({{limit.pgLabel.label}})</span></div>
					<!--  <span class="control-label"><editable model="limit.tvvDisplayValue" data-ng-click="editDefaultPollutantValue(List)"></editable></span>-->
					
						<div class="col-lg-12 col-md-6 col-sm-6 col-xs-12 no-padding padding-top-btm">
                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 no-padding card-lg-overflow" title="{{limit.tvvDisplayValue}}" ng-hide="!disableFeild('POCHRole')">
                            <input class="form-control editableInput" data-ng-hide="editable" type="text" ng-disabled="!disableFeild('POCHRole')"
                                data-ng-enter="enterSave();editDefaultPollutantValue(List)" data-ng-blur='save();editDefaultPollutantValue(List)'
                                data-ng-model="limit.tvvDisplayValue"><b><span data-ng-show="editable"
                                data-ng-click="">{{limit.tvvDisplayValue}}</span></b>
                        </div>
						<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 no-padding card-lg-overflow" title="{{limit.tvvDisplayValue}}" ng-show="!disableFeild('POCHRole')">
							<input class="form-control editableInput" data-ng-hide="editable" type="text" ng-disabled="!disableFeild('POCHRole')"
								data-ng-enter="enterSave();editDefaultPollutantValue(List)" data-ng-blur='save();editDefaultPollutantValue(List)'
								data-ng-model="limit.tvvDisplayValue"><b><span data-ng-show="editable"
								data-ng-click="edit()">{{limit.tvvDisplayValue}}</span></b>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding" style="text-align: right" data-ng-click="editDefaultPollutantValue(List);">
							<span data-ng-click="edit()" data-ng-show="editable"><span
								class="fa fa-pencil fa-2x" data-ng-hide = "!disableFeild('POCHRole')"></span></span> <span data-ng-click="save();editDefaultPollutantValue(List)"
								data-ng-hide="editable"><span class="fa fa-floppy-o fa-2x"></span></span>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
<div class="slide-resize col-lg-12 col-lg-10"
		style="position: fixed;
	/* top: 0px; */ bottom: 0px; background-color: #fff;">
<label class="screenNo" title="{{'cop.tvv.PGlist.label.screenNo' | localize}} ">{{'cop.tvv.PGlist.label.screenNo' | localize}}</label>
		<div class="col-lg-12 padding-top-btm text-center">

			<div class="col-lg-3"></div>

			<div class="col-lg-6 text-center">
				<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-hide="!disableFeild('POCHRole')"					
					data-ng-click="updatePGL()">{{
					'cop.technicalData.label.validate' | localize }}</button>
				&nbsp; &nbsp;
				<button type="button" class="btn btn-default" data-dismiss="modal" data-ng-hide="!disableFeild('POCHRole')" data-ng-click="CancelOnConfirmationPGL()">{{
					'cop.technicalData.label.cancel' | localize }}</button>
			</div>

		
		</div>
	</div>
<!-- Confirmation Message On Cancel Button -->
<div id="ConfirmCancelPGModal" class="modal fade" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md" style="width: 500px;">
		<div class="modal-content" style="border-radius: 0px; width: 500px;">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				<h4 class="modal-title" id="myModalLabel">{{
					'cop.message.cancelUnsavedDataOnConfirmation'| localize }}</h4>
			</div>

			<div class="modal-footer align-center">
				<button type="button" style="border-radius: 0px;"
					class="btn btn-primary" data-dismiss="modal"
					data-ng-click="cancelModifiedPGChanges()">{{
					'cop.cancelUnsavedData.label.ok' | localize }}</button>
				&nbsp; &nbsp;
				<button type="button" style="border-radius: 0px;"
					class="btn btn-default" data-dismiss="modal">{{
					'cop.cancelUnsavedData.message.cancel' | localize }}</button>
			</div>
		</div>
	</div>
</div>
<!-- End of Confirmation Message On Cancel Button-->

