<div class="col-lg-12 custom-top-pad history-tabboxwrapp" data-ng-controller="VehicleFileHistoryController">
  <div class="row">
    <div class="col-lg-12">
        <b class="custom-menulist-left" title="{{'cop.preparationList.title.vehicleFileHistory'|localize }}">>..> {{'cop.preparationList.title.vehicleFileHistory'|localize
            }}</b>
    </div>
  </div>  
  <div class="row">
    <div class="col-lg-12">
        <div data-ui-grid="vehicleFileHistoryObject.vehicleFileHistoryGridOptions" data-ui-grid-edit data-ui-grid-auto-resize data-ui-grid-cellNav class="history-grid-wrapp"></div>
    </div>
  </div>      
</div>

<div class="slide-resize col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-10 col-md-10 col-sm-10 col-xs-10 custom-footer">
    <div class="col-lg-12 padding-top-btm">


        <div class="col-lg-3 col-md-3 text-center"></div>
        <div class="col-lg-4 col-md-4 text-center">
        </div>

        <div class="col-lg-5 col-md-5 text-right no-padding">
            <div class="btn-with-screen-no">
                <label class="screenNo" title=" {{'cop.history.label.screenNo' | localize}} ">{{'cop.history.label.screenNo' | localize}}</label>
            </div>
        </div>

    </div>
</div>